.wrapper {
    width: 100%;
    background-color: rgba(22,42,89);
    height: 100vh;
    color:#fff;
    position: relative;
    display: flex;
}
.slider{
    width: 18.85%;
    background-color: rgba(34,53,78);
    
    height: 100%;
    overflow: auto;
}
.slider_logo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider_nav {
    width: 100%;
    height: calc(100% - 214px);
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;

}
/* content */
.content {
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
}
.content_top {
    width: 100%;
    display: flex;
    padding: 0px 59px;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.content_top_search {
    width: 428px;
    
    display: flex;
    border-radius: 8px;
    background-color: rgba(46, 64, 88,1);
}
.content_top_search > input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    padding: 5px 0px;
    outline: none;
    color: #fff;

}
.content_top_search > input::placeholder {
    text-transform: capitalize;
    color: #fff;

}
.content_top_btns {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* song play */
.songPlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 90px;
    background-color: rgba(23,47,79);
    display: flex;
}
.songPlay_info,.songPlay_list {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.songPlay_info > img {
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 4px;
}
.songPlay_info_name {
    text-transform: capitalize;
}
.songPlay_info_name > span {
    font-size: 1rem;
    color: #ccc;
}
.songPlay_controls {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}
.songPlay_controls_time {
    width: 100%;
}
/* progress */
.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }